<h1>Welcome#Sample</h1>
<p>Find me in app/views/welcome/sample.html.erb</p>

<%= "Message from controller :
#{@controller_message}" %>

<%= link_to("Go to Index",
    {:controller => 'welcome',
      :action =>'index'}) %>
