<link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">

<h1>Postit!</h1>
<br>

<h4>Welcome! Let's get it done.</h4>
<br>
<%= link_to 'About Us', about_path %><br>
<br>
<br>

<%= link_to 'Posts', posts_path %><br>
<br>
<br>
