<h1>Postit!</h1>
<p>Welcome! Let's get it done.</p>

<%= link_to 'About Us', about_path %><br>
<br>
<br>
<br>
<br>
<%= link_to 'New User', new_user_registration_path %><br>

<%= link_to 'Posts', posts_path %><br>
